{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static '/css/dep_register_style.css' %}" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тип валюти</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    </head>
<body>
    <div class="main">

        <section class="BondsCreate">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="form-title">Тип валюти</h2>
                        {{ form.as_p }}
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Реєстрація"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
